<?xml version='1.0' encoding='utf-8'?>
<widget id="org.cordova.quasar.app" version="2.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>crm</name>
    <description>crm</description>
    <author email="dev@techparkit.org" href="https://techparkit.org">
        MD shefat
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
</widget>
